body {
    background-color: #045F5F;
}

.search-cont {
    max-width: 500px;
    padding: 20px;
    margin: 80px auto;
    background: #FFF0DB;
    border-radius: 18px;
    text-align: center;
    font-family: 'Segoe UI';
}

.search-input {
    padding: 12px 16px;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.search-input:focus {
    border-color: #FA8072;
}

.result-li {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: 20px;
}

.result-item {
    margin-bottom: 8px;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #C08081;
    color: white;
}


.result-item:hover {
    background-color: #4E8975;
}

.no-results {
    padding: 12px;
    text-align: center;
    font-style: italic;
    color: #0a0a0a;
}